@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#app {
	height: 100%;
}
* {
	box-sizing: border-box;
}
h1{
	font-size: 8vw;
	color: #d4d4d4;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	line-height: 11vw;
	letter-spacing: .3vw;
}
.container{
	padding: 5%;
	margin: auto;
}
.fold{
	display: flex;
	text-transform: uppercase;
	text-align: center;
	height: 40vh;
	background-image: url('../assets/img/silentmethods.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	box-shadow: 0 -5px 10px -1px rgba(0,0,0,.5) inset;
}

.link-holder{
	display: flex;
	flex: 1 100%;
	flex-flow: row wrap;
	justify-content: space-between;
}
.link{
	font-family: 'Poppins', Arial;
	display: flex;
	width: 42vw;
	height: 15vw;
	font-size: 4.5vw;
	color: #fff;
	margin: 0 0 5vw 0;
	box-shadow: 0 2px 2px 1px rgba(0,0,0,.5);
	align-self: center;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-weight: 700;
}
.spotify{
	background: #1cd760;
}
.itunes{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f25d6a+0,3fa3f9+100 */
	background: #f25d6a; /* Old browsers */
	background: -moz-linear-gradient(top,  #f25d6a 0%, #3fa3f9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f25d6a 0%,#3fa3f9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f25d6a 0%,#3fa3f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f25d6a', endColorstr='#3fa3f9',GradientType=0 ); /* IE6-9 */
}
.gm{
	background: #ef6c00;
}
.am{
	background-color: #000;
	background-image: radial-gradient(circle closest-side,rgba(70,155,241,.3) 0,rgba(70,155,241,0) 100%);
}
.deezer{
	background: #000;
}
